@import './css/base.css';

@font-face {
    font-family: AliPuHui;
    src: url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-35-Thin.woff2') format('woff2'),
    url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-35-Thin.woff') format('woff'),
        url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-35-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: AliPuHui;
    src: url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-45-Light.woff2') format('woff2'),
    url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-45-Light.woff') format('woff'),
        url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-45-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: AliPuHui;
    src: url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-55-Regular.woff2') format('woff2'),
    url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-55-Regular.woff') format('woff'),
        url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-55-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: AliPuHui;
    src: url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-65-Medium.woff2') format('woff2'),
    url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-65-Medium.woff') format('woff'),
        url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-65-Medium.ttf') format('truetype');
    font-weight: 500;

}

@font-face {
    font-family: AliPuHui;
    src: url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-75-SemiBold.woff2') format('woff2'),
    url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-75-SemiBold.woff') format('woff'),
        url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-75-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: AliPuHui;
    src: url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-85-Bold.woff2') format('woff2'),
    url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-85-Bold.woff') format('woff'),
        url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-85-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* @font-face {
    font-family: AliPuHui;
    src: url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-95-ExtraBold.woff2') format('woff2'),
    url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-95-ExtraBold.woff') format('woff'),
        url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-95-ExtraBold.ttf') format('truetype');
    font-weight: 800;
} */

@font-face {
    font-family: AliPuHui;
    src: url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-105-Heavy.woff2') format('woff2'),
    url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-105-Heavy.woff') format('woff'),
        url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-105-Heavy.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: AliPuHui;
    src: url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-115-Black.woff2') format('woff2'),
    url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-115-Black.woff') format('woff'),
        url('https://file.kwunphi.com/kwunphi4/fonts/puhui3/AlibabaPuHuiTi-3-115-Black.ttf') format('truetype');
    font-weight: 900;
}

html {
    font-family: "AliPuHui", "阿里巴巴普惠体 3.0", "阿里巴巴普惠体 2.0", "Open Sans", "PingFang SC","Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Arial", "sans-serif";
}
