a{
    color: #000;
}


.bgColor {

    background-color: #ffffff;
}

.fontColor {
    color: #f7f7f7;
}

.elBtnStyle {
    font-weight: bold;
}

.el-button--info {
    background-color: #f7f7f7 !important;
}

.elBtnStyle span {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.el-textarea__inner {
    color: #000000;
    font-size: 1.1rem !important;
}

/*code*/
pre {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    border: 1px solid rgb(208, 215, 222);
    border-radius: 6px;
    overflow-x: auto;
}

code {
    width: 100%;
    background-color: transparent;
}

code:after {
    background-color: transparent;
}

/*关键字*/
p code {
    position: relative;
    padding: 3px 4px;
    border-radius: 3px;
    background-color: transparent !important;
    color: #fff;
    font-weight: 400;
}



/*细线*/
p code:after {
    display: inline-block;
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: 95%;
    transform: translateX(-50%);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0);
}

ul li code {
    position: relative;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: transparent;
}

ul li code:after {
    display: inline-block;
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: 95%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.copyNode {
    display: none;/*复制按钮*/
    z-index: 2;
    cursor: pointer;
    position: absolute;
    padding: 0.1rem 0.4rem;
    top: 1rem;
    right: 1rem;
    border: 1px solid rgb(208, 215, 222);
    border-radius: 6px;
}

.copyNode:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.copyNode:active {
    cursor: pointer;
    background-color: #e6e6e6;
}

/*代码样式*/
/*code*/
.clearfix{
    width: 100%;
    max-width: 332px;
    overflow-x: auto;
    background: #FFFFFF;
    margin: 16px 0;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.hljs{
    background-color: transparent;
}

textarea::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f2f2f2;
}

textarea::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}

/*markdown 表格*/
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
}

th,
td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

th {
    text-align: left;
    background-color: #f2f2f2;
}


/* 兼容IE和Edge */
body {
    -ms-overflow-style: none;
}

.fix-primary {
    background-color: #409eff !important;
    border: 1px solid #409EFF !important;
}

.triangle {
    width: 41px;
    height: 41px;
}

/*.res-message >p{
    font-size: 19px;
    line-height: 28px;
    color: #2d2d2d;
}

.res-message > ol{
    margin: 16px 0;
    transform: translateX(3rem);
}

.res-message > ol >li{
    margin: 8px 0;
    font-size: 16px;
    color: #2d2d2d;
}

.res-message > ol >li::marker{
    font-size: 19px;
    color: #2d2d2d;
}*/


.res-message{
    width: 100%;
}
.res-message p{
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px;

}

.res-message > ol{
    margin: 8px 11px 8px 0;
    transform: translateX(1rem);
}

.res-message > ol >li{
    margin: 4px 0;
    font-size: 16px;
    color: #FFFFFF;
}
.res-message >ul >li{
    margin: 4px 0;
    font-size: 16px;
    color: #FFFFFF;
}

.res-message > ol >li::marker{
    font-size: 16px;
    color: #FFFFFF;
}
.res-message >p >a{
    color: #FFFFFF;
    word-break: break-all;/*超宽换行*/
}

.userMessageRes{
    width: 100%;

}
.userMessageRes >p{
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.userMessageRes > ol{
    margin: 8px 0;
    transform: translateX(1rem);
}

.userMessageRes > ol >li{
    margin: 4px 0;
    font-size: 16px;
    color: #1C293B;
}

.userMessageRes > ol >li::marker{
    font-size: 16px;
    color: #1C293B;
}


.copyMessageButton{
    cursor: pointer;
    position: absolute;
    bottom: -23px;
    right: 0;
    height: 23px;
    width: 23px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.copyMessageButton:hover{
    background-color: #f1f1f1;
}

.copyMessageButton:active{
    background-color: #f1f1f1;
}

.copyMessageButton::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: url('https://file.kwunphi.com/kwunphi4/images/svg/%E5%A4%8D%E5%88%B6.svg') center center no-repeat;
    background-size: cover; /* 根据需要调整背景图片的大小 */
}

.copyMessageButton:active::before {
    background-image: url('https://file.kwunphi.com/kwunphi4/images/svg/%E6%88%90%E5%8A%9F.svg');
}


.alreadyCopied{
    cursor: pointer;
    position: absolute;
    bottom: -23px;
    right: 0;
    height: 23px;
    width: 23px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.alreadyCopied::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: url('https://file.kwunphi.com/kwunphi4/images/svg/%E6%88%90%E5%8A%9F.svg') center center no-repeat;
    background-size: cover; /* 根据需要调整背景图片的大小 */
}



.AnswerNotSatisfactory{
    cursor: pointer;
    position: absolute;
    bottom: -23px;
    left: 0;
    height: 23px;
    width: calc(100% - 23px);
    background-color: #F3f3f3;
    border: none;
    border-radius: 5px;
}

