.app{
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-container{
    width: 100vw;
    max-width: 100%;
}

/* 垂直居中容器 */
.vc_container{
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 水平居中容器 */
.hc_container{
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 水平居中 内容容器 */
.vct_container{
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




